@model IEnumerable<EmbeddedStock.Models.Component>

@{
    ViewData["Title"] = "Index";
}
@{
    if ((string)(ViewData["CTName"]) == "all")
    {
        @:<h2>All components</h2>
    }
    else
    {

        @:<h2>Components with component type @ViewData["CTName"] </h2>


    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ComponentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminComment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserComment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentLoanInformationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComponentType)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLoanInformationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentTypeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComponentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComponentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComponentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
