@model EmbeddedStock.Models.StockViewModels.ComponentIndexData

@{
    ViewData["Title"] = "Components of one type";

}

@{ 
    if((string)(ViewData["CTName"]) == "all"){
        @:<h2>All components</h2>
    }
    else
    {

        @:<h2>Components with component type @ViewData["CTName"] </h2>

    }
}

<div class="form-group">
    <label class="control-label">Component types</label>
    <div class="col-md-offset-2 col-md-10">
        <ul>
            <li>
                <a asp-action="Index">
                    All Component Types
                </a>
             </li>
            @{ 
                List<EmbeddedStock.Models.StockViewModels.ComponentTypeData> componentTypes = ViewBag.ComponentTypes;
                foreach(var componentType in componentTypes)
                {
                    @:<li>
                    <a asp-action="Selected" asp-route-id="@componentType.ComponentTypeID">
                            @componentType.ComponentTypeName
                        
                    </a>
                    @:</li>

                }
            }
        </ul>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Component.ComponentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component.AdminComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component.UserComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component.CurrentLoanInformationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Component.ComponentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Components) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLoanInformationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentType.ComponentTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComponentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComponentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComponentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
