@model EmbeddedStock.Models.StockViewModels.ComponentTypeIndexData

@{
    ViewData["Title"] = "ComponentTypes of one category";
}

<h2>Component types with category id = @ViewData["CategoryID"]</h2>


<div class="form-group">
    <label class="control-label">Categories</label>
    <div class="col-md-offset-2 col-md-10">
        <ul>
            <li>
                <a asp-action="Index">
                    All Component Types
                </a>
            </li>
            @{
                List<EmbeddedStock.Models.StockViewModels.CategoryData> categories = ViewBag.Categories;
                foreach (var category in categories)
                {
                    
                    @:<li>
                        <a asp-action="Selected" asp-route-id="@category.CategoryID">
                            @category.Name

                        </a>
                      
                    @:</li>


                }

            }
        </ul>
    </div>
</div>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    ComponentTypeName
                </th>
                <th>
                    ComponentInfo
                </th>
                <th>
                    Location
                </th>
                <th>
                   Status
                </th>
                <th>
                    Datasheet
                </th>
                <th>
                    ImageUrl
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    WikiLink
                </th>
                <th>
                    AdminComment                    
                </th>
                <th>
                    Categories
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ComponentTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datasheet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WikiLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminComment)
            </td>
            <td>
                @{ 
                    foreach(var category in item.ComponentTypeCategories)
                    {
                         @category.Category.Name <br/>

                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComponentTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComponentTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComponentTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
